# =======================================================
# PYTHON & DJANGO COMPILED FILES
# =======================================================
__pycache__/
*.py[cod]

# =======================================================
# LOCAL ENVIRONMENT / SECRETS
# =======================================================
.env
cloudinary_python.txt.env
env.py

# =======================================================
# THIRD-PARTY & PACKAGE FOLDERS
# =======================================================
node_modules/
core.Microsoft*
core.mongo*
core.python*

# =======================================================
# GITHUB / CI ARTIFACTS
# =======================================================
.github/

# =======================================================
# OTHER FILES TO IGNORE
# =======================================================
NOTES