{% extends "core/base.html" %}

{% block title %}Password Changed | VelVady{% endblock %}

{% block content %}

<!-- ============================ -->
<!--    PASSWORD CHANGE DONE     -->
<!-- ============================ -->

<div class="container my-5 text-center">

    <!-- Confirmation Message -->
    <h2 class="fw-bold mb-3">Your Password Has Been Changed</h2>
    <p>You have successfully updated your password.</p>

    <!-- Button to return to dashboard -->
    <a href="{% url 'dashboard' %}" class="btn btn-pill btn-pill-primary mt-3">Go to Dashboard</a>

</div>

{% endblock %}